windows32*
windows64*
linux64*
linux32*
cgc32*
bin/*
*.o

freebsd64*
freebsd32*
# kld build outputs (bsd.kmod.mk in testsuite/*/kmod)
*.ko
*.ko.full
*.ko.debug
.depend*
bus_if.h
device_if.h
pci_if.h
export_syms
opt_global.h
machine
x86
i386
